*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;

    
}
div#container {
    margin-top: 0;
    padding: 0 20px;
    max-width: 900px;
    margin: auto;
    
} 

/*==========Botão da Home Faça seu cadastro============*/
div#container .Botao{
    position: relative;
    top:0;
    left:0;
    text-align: center

}
div#container .Botao a{
    text-decoration: none;
    color:grey;
    display:inline-block;
    background: #fff;
    padding: 10px 15px;
    margin:45px 30px;
    border: 1px solid #fff;
    border-radius: 25px;
    cursor: pointer
    
}

div#container .Botao a:hover{
    background-color: blue;
    color:#fff
}
@keyframes btnCad{
    0%{transform: rotateX(0);}
    50%{transform: rotateX(180deg);}
    100%{transform: rotateX(0);}
}
div#container .Botao .btnCad{
    transition: .5s;
}
div#container .Botao .btnCad:hover{
    animation-name: btnCad;
    animation-delay: .5s;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

 
div#container .containerTexto {
    border: 1px solid #ccc;
}
div#container .containerTexto h1{
font-size: 25px;
text-align: center;
margin: 26px 
}
    /*=================================Menu=========================*/
    .Menu-Group{
        width: 100%;
        height:11vh;
        z-index: 9
    }

    .Menu-Group nav{
        width: 100%;
        height: 80px;
         line-height: 80px;
    }
    .Menu-Group nav #logo{
        margin: 5px 43px;
        width: 78px;
        height: 55px;

    }
    .Menu-Group nav ul{
        float: right;
        margin-right: 30px
    }
    .Menu-Group nav ul li{
        cursor: pointer;
        list-style-type: none;
        display: inline-block
    }    
 
    .Menu-Group nav ul li img{
        display: none
    }

    .Menu-Group nav ul li a{ 
        text-decoration: none;
        color: #D8826D;
        padding-left: 4rem
     } 
     .Menu-Group nav .Home{
        margin: -50px  36%;
         position: absolute;
        left: 20px
    }

    .Menu-Group nav .Login{
        margin: -50px  50%;
        width: 0 ;
        height: 50px;
        display: block;
        position: absolute;
        left: 20px
    }

    .Menu-Group nav .Blog{
        margin: -50px  63%;
        width: 0 ;
        height: 50px;
        position: absolute;
        z-index: 9;
        left: 20px
    }
    .Menu-Group nav .Contato{
        margin: -50px  73%;
        width: 55px;
        height: 50px;
        display: block;
        position: absolute;
        left: 20px
    }
  
/*==========================Pagina de Login===============================*/

#Back-Logar{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
 
}

.Logar{
    width: 320px;
    height: 420px;
    border: 2px solid #E4C7C1;
    border-radius: 80px 80px 80px 80px;
    color: #fff;
    background-color:#D8826D;
    top: 62%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}
.usuario{
    border-radius:50%;
    position: absolute;
    top: -150px;
    left: 112px;
}
.L img{
    position: relative;
 
}

.Logar h1{
    margin:0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.Logar p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.Logar input{
    width: 100%;
    margin-bottom: 21px;
}

.Logar input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid white;
    background: transparent;
    outline:none;
    height: 40px;
    color:white;
    font-size: 16px;
}
.Logar input[type="submit"] {
    border:none;
    outline: none;
    height:35px;
    color:#000;
    background: #fff;
    border-radius: 20px;
    transition: 0.2s;

}

.Logar input[type="submit"]:hover{
    cursor:pointer;
    background: #ff4d4d;
    transition: 0,2s;
}


.Logar a{
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    margin: 15px;
    line-height: 20px;
    color:#4b4b4b;
    transition: 0,2s

}

.Logar a:hover {
    transition: 0.2s;
    color: #8DC1C1
}
/*==========================Pagina de CadastroOp===============================*/
#CadastroOp{
    
    text-align: center;
}
#CadastroOp .Gota{
    height: 9em;
    padding: 10px 10px;
    text-align: center;
   
    
}
#CadastroOp .EscolhaCad{
    padding: 4.7rem 4px
}
#CadastroOp .EscolhaCad ul{
    height: 71px;
}
#CadastroOp .EscolhaCad ul li{
    margin:50px;
    list-style-type: none;
    text-align: center;
}
#CadastroOp .EscolhaCad ul li a {
    padding: 30px 72px;
    border: 3px solid #0cc;
    text-decoration: none;
    margin:15px;
    color: #0cc;
    border-radius: 50px;
    transition: .3s;
}
#CadastroOp .EscolhaCad ul li a:hover{
    color: #fff;
    background: #0cc;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 3px 25px #bbb;
    border: #0cc;
    border-bottom: 4px solid #0aa
}
#CadastroOp #ImgCad{
    z-index: -2;
    width: 100%;
    right: 0%;
    position: fixed
}
 /*==========================Pagina de Cadastro Aluno&Coordenador===============================*/
.hero{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size:cover

}
.hero .form-box h2,.form-box2 h2{
    margin-left: 19%;
    margin-top: 30px;

}
.hero .form-box{
    width: 22rem;
    height: 44rem;
    position: relative;
    margin:2% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border: 7px solid #E4C7C1;
    border-radius: 80px 0px 80px 0px;
} 
.hero .form-box .button-box{
    width: 110px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
} 
.hero .form-box .toggle-btn{
    padding: 10px 45px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.hero .form-box .toggle-btn2{
    padding: 10px 18px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
.hero .form-box .toggle-btn3{
    padding: 10px 24px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.hero .form-box #btn{
    position: absolute;
    width: 127px;
    height: 100%;
    background: linear-gradient(to right,#8FC1C2,#E4C7C1);
    border-radius: 30px;
    transition: .5s
}


.hero .input-group{
     
    position: absolute;
    width: 71%;
    margin: 0 15%
 

}

.hero .input-field{
    width: 100%;
    padding: 10px 0;
    margin: 6px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent
}

.hero .submit-btn,.submit-btn2{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:auto;
    background:#8FC1C2;
    border:0;
    outline: none;
    border-radius: 30px;

}
.hero label,#caixa{
    color: #777;
    font-size: 12px;
    position: initial;
}

 

 
 /*==========================Pagina de Cadastro Voluntario===============================*/
.hero .form-box2{
    width: 22rem;
    height: 44rem;
    position: relative;
    margin: 2% auto;
    background: #fff;
    padding: 5px;
    border: 7px solid #E4C7C1;
    border-radius: 80px 0px 80px 0px
}
.hero #caixa{
    margin-left: 8%;
}
 .hero .button-box2{
    width: 110px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius:30px
}
.hero .toggle-btn2{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative
}

.hero #btn2{
    top: 0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#8FC1C2,#E4C7C1);
    border-radius: 30px
}

.hero #btn3{
    top: 0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#8FC1C2,#E4C7C1);
    border-radius: 30px
}
.hero .input-group2{
     
    position: absolute;
    width: 71%;
    margin: 0 15%
    
}
.hero .input-field2{
    width: 100%;
    padding: 10px 0;
    margin: 6px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent

}
 /*=================================Pagina-Blog=========================*/
      
 .Blog{
    width: 100%;
    height: 100%;
    max-width: 700px;
    margin: 1rem auto 0;
    box-sizing: border-box;
 }
 .Blog .search-box{
    position: absolute;
    left: 57%;
    
}
.Blog .search-txt{
    border: 3px solid #8fc1c2;
    height: 34px;
    width:150px;
    border-radius: 50px;
    padding: 0 10px;
}
.Blog .btn-search{
    position: absolute;
    left: 79%;
    top: 5px
     
}
.Blog .btn-search img{
    background-color: #fff;
    height: 24px;
}
.Blog .galeriaB{
    margin: 10px auto;
    top: 3em;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-style:solid; 
    border-width: 7px;
    border-color:#8fc1c2;

}
.Blog .galeriaB .Foto{
    position: absolute;
    height: 92%;
    width: 92%;
    margin: 10px 17px;
    background-size: contain;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}
@keyframes animacao{
    25%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    
    50%{
        opacity: 0;
    }
    }

    .Blog .galeriaB .Foto:nth-child(2){
        animation-delay: 5s;
    }
    .Blog .galeriaB .Foto:nth-child(3){
        animation-delay: 10s;
    }
    .Blog .swiper-container {
        width: 100%;
        height: 35%;
        position: absolute;
        left: 50%;
        top: 45%;
        margin-left: -50%;
 
         
      }
      .Blog .swiper-slide {
        background-position: center;
        background-size: cover;
      }
 
    .Blog .swiper-slide {
        background-position: center;
        background-size: cover;
      }
    .Blog .swiper-container img{
        height: 62%;
        float: left;
        width: 31%;
        margin: 23px;
      }

      .Blog .swiper-container p{
          color: black;
          text-align: start;
          padding: 30px 10px;
      }
      .Blog .swiper-container a{
        float: left;
        padding: 30px 10px;
    }
.Blog .ComentariosBlog{
        top: 77%;
        padding: 0;
        margin-top: 25px;
        width: 100%;
        position: absolute;
 
        max-width: 700px;
        margin: 1rem auto 0;
        box-sizing: border-box;
    } 

 
.Blog .ComentariosBlog #PerfilBlog img{
        max-width: 60px;
        float: right;
    }
.Blog .ComentariosBlog #PerfilBlog h4{
    float: right;
    margin-top: 15px;
}
.Blog .ComentariosBlog #PerfilBlog p{
    float: Left;
    margin-top: 15px;
    left: 30px;
    margin: 10px;
}
.Blog .ComentariosBlog .ComentariosUser {
border-style: solid;
border-width: 7px;
border-color: #8fc1c2;
}
.Blog .ComentariosBlog .ComentariosUser img{
    height: 62%;
    width: 98%;
    margin: 4px;
}

.Blog .ComentariosBlog .ComentariosUser h4{
    text-align: center;
}
.Blog .ComentariosBlog .ComentariosUser p{
    text-align: justify;
    margin: 20px;
}

.Blog .ComentariosBlog .ComentariosUser li{
     margin-left: 17%;
}
         /*==========================Pagina de Contato===============================*/
 .PagContato{
    position: absolute;
   margin:1px;
   border-style:solid; 
   height: 92rem;
   border-width: 7px;
   border-color:#8fbfc1;
}
.PagContato .Paralax{
background: url(Img/contato.png);
background-size: contain;
background-attachment: fixed;
height:20%;
}
.PagContato .Paralax h2{
   color:white;
   margin: 0;
   position: absolute;
   top: 12%;
   left: 46%;
   transform: translate(-25%, -50%);
}

.PagContato .Paralax #logoCont {
   margin: 6px 99px;
   width: 49%;
   height: 50%;

}



.PagContato #caixas{
margin-left: 40px;

}

.PagContato h2{

margin: 6%;
margin-left: 16%;
font-size:25px;
}

.PagContato h3{
margin: 6%;
font-size:17px;
}

.PagContato h4{
   font-size: 20px;
   margin: 12%;
   margin-left: 19%
}

.PagContato #enviar{

float: right;
border-radius: 5px;
margin: 3%;
border-color: transparent;
height: 30px;
width: 73px;
background-color: #d8816d;
}

.PagContato .maps{
margin-top: 0px;
margin-left: 0px;
}

.PagContato label{
 margin-top: 0px;
}


.PagContato .box{
  
   margin-bottom: 0px;
   border-width: 1px;
   border-style: solid;
   width: 85%;
   height: 23px;
   border-radius: 20px;
}

.PagContato #box2{
   margin-bottom: 0px;
   border-width: 1px;
   border-style: solid;
   width: 85%;
   height: 90px;
   border-radius: 20px;

}

.PagContato #p1{
   margin-left: 10px;
   text-align:center;
}

.PagContato .rodape{
   height:11%;
   color:white;
background-color:#7f7f7f;

}

.PagContato .rodape label{
   margin: 10px;
}
iframe{
   margin-left: 30px;
   text-align: center;
  width:85%;}
  
 


/*!-!-!-!-!-!-!-!-!-!-!-!-!-!-!-!-Mobile-!-!-!-!-!-!-!-!-!-!-!-!-!-!-!-!-*/
@media screen and (min-width: 320px)and (max-width: 799px){
/*==========================Pagina de Home ===============================*/
 
.slidershow{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .middle{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
  
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #E4C7C1;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: #797979;
  }
  .bar:hover{
    background: #D8816D;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  
  .slide{
    width: 20%;
    transition: 0.6s;
   
  }
  .slide img{
    width: 100%;
    height: 100%;
    
  }
  .slide h2{
      position: absolute;
      margin-top: 25%;
  }

  .slide h1{
    position: absolute;
    margin-top:115%;
    padding: 0px 18%;
    color: #f1f1f1;
}
.Conteudo{
    font-size: 14px;
    padding: 45% 10px 6px;
    text-align: justify;
    color:white
}
  #sld1{
    background-image: url(Img/.jpg);
    height: 100%;
    background-color: #D8816D;
    background-position: bottom;
    

  }
  #sld2{
    background-image: url(Img/2.png);
    height: 100%;
    background-position: bottom;
    background-size: contain
    
    
  }
  #sld3{
    background-image: url(Img/3.png);
    height: 100%;
    background-position: bottom;
    background-repeat: unset;
    background-size: contain
    
  }

  #r1:checked ~ .s1{
    margin-left: 0;


  }
  #r2:checked ~ .s1{
    margin-left: -20%;
    

  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  

  }

     /*=======================================slider3==========================*/
     #CadastroOp .Gota1{
        height: 9em;
        width: 32%;
        margin-top: 5%;
        padding: 10px 10px;
        text-align: center
        
    }
    #logo1{
        position: absolute;
        width: 100%;
        top: 15%;
        height: 50%
    }

  /*===========Pagina de Cadastro Aluno&Coordenador&Voluntario=============*/
 
        .hero .form-box{
            margin: 2% auto;
            width: 22rem;
            height: 45rem
        }        
        .hero .form-box2{
            width: 22rem;
        }

        .hero .input-group {
        width: 80%;
        margin: 0 8%;
        top: 22%
        }
        .hero .input-group2 {
        width: 80%;
        margin: 0 8%
        }


 

           /*==========================Pagina de Recuperar Senha parte 1===============================*/

           #PaginaE .box1{
               width: 100%;
               height: 64px;
               background-color: #D8816D
   
           }
           #PaginaE .box2{
               border-radius: 63%;
               width: 16%;
               height: 87%;
               background-color: #ffffff85;
               display: inline-block;
               margin: 4%;
               margin-top: 1%;
               margin-left: 10%
           }
           #PaginaE .box{
               border-radius: 63%;
               width: 16%;
               height: 87%;
               background-color: white;
               display: inline-block;
               margin: 4%;
               margin-top: 1%;
               margin-left: 10%
               
           }
   
            #PaginaE form{
    
                   border: 1px solid;
                   border-radius: 15px;
                   max-width: 82%;
                   height: 32px;
                   margin-top: 3px;
                   margin-left: 24px
            }
            
            
        
             #PaginaE p.text1{
               font-family: Arial, Helvetica, sans-serif;
               font-size: 21px;
               margin-left: 14px;
               margin-top: 48px
             
             }
             
             #PaginaE p.text2{
               font-size: 24px;
               margin-top: 50px;
               margin-left: 25px
             
             }
             #PaginaE p.text3{
               font-size: 168%;
               margin-top: 25%;
               margin-left: 35%
             
             }
   
           
           #PaginaE p.text4{
               font-family: Arial, Helvetica, sans-serif;
               font-size: 104%;
               margin-top: 5%;
               margin-left: 16%
           
           }
           #PaginaE p.text5{
               font-family: Arial, Helvetica, sans-serif;
               font-size: 126%;
               margin-top: 0%;
               margin-left: 26%
           
           }
   
             
            
             
             #PaginaE input{
               border: none;
               background-color: transparent;
               height: 30px;
               margin-left: 7px;
               width: 97%
               
             }
             
             #PaginaE .proximo{
               border: 1px solid;
               border-radius: 11px;
               background-color: #8FC1C2;
               width: 89px;
               height: 30px;
               margin-top: 10%;
               margin-left: 61%
               
             }
             #PaginaE .Mensagem img{
               text-align: center;
               width: 61%;
               margin-left: 19%;
               margin-top: 16%
             }
   
             #PaginaE .Cell img{
               text-align: center;
               width: 32%;
               margin-left: 30%;
               margin-top: 16%
             }
             #PaginaE .cadeado img{
               text-align: center;
               width: 21%;
               margin-left: 39%;
               margin-top: 14%
             }
 /*==========================Pagina de Recuperar senha 2 ===============================*/
   

         
        #CadastroOp {
            text-align: center;
            margin-top: 1em
        }
        #CadastroOp .Gota{

            margin-top: -2em
            }
 
        #CadastroOp .EscolhaCad{
            padding: 2.7rem 26px
        }
        #CadastroOp .EscolhaCad ul{
            height: 71px
        }
        #CadastroOp .EscolhaCad ul li{
            margin:50px;
            list-style-type: none;
            text-align: center
        }
        #CadastroOp .EscolhaCad ul li a {
            padding: 30px 34px;
            border: 3px solid #8FC1C2;
            background-color: #8FC1C2 ;
            text-decoration: none;
            margin: -22px;
            color: white;
            border-radius: 50px;
            transition: .3s
        }
        #CadastroOp .EscolhaCad ul li a:hover{
            color: #fff;
            background: #0cc;
            font-weight: bold;
            font-size: 18px;
            box-shadow: 0 3px 25px #bbb;
            border: #0cc;
            border-bottom: 4px solid #0aa
        }

        /*=============================EscolhaCad da Home=========================*/

        #CadastroOp .EscolhaCad2{
            padding: 4.7rem 14px
        }
        #CadastroOp .EscolhaCad2 ul{
            height: 71px
        }
        #CadastroOp .EscolhaCad2 ul li{
            margin:50px;
            list-style-type: none;
            text-align: center
        }
        #CadastroOp .EscolhaCad2 ul li a {
            padding: 30px 34px;
            border: 3px solid #8FC1C2;
            background-color: #8FC1C2 ;
            text-decoration: none;
            margin: -22px;
            color: white;
            border-radius: 50px;
            transition: .3s
        }
        #CadastroOp .EscolhaCad2 ul li a:hover{
            color: #fff;
            background: #0cc;
            font-weight: bold;
            font-size: 18px;
            box-shadow: 0 3px 25px #bbb;
            border: #0cc;
            border-bottom: 4px solid #0aa
        }
 /*=======================================Menu-Voluntario==========================*/
 .Menu-Group-vol{
    height: 100%;
    position: fixed;
    width: 100%
    
  }

  .Menu-Group-vol .Menu {
    width: 100%;
    height: 80px;
    line-height: 80px
}
.Menu-Group-vol .Menu #Usuario{
    margin-top: -7rem
}
.Menu-Group-vol .Menu #Usuario h4{
    float: right
      
}
.Menu-Group-vol .Menu #Usuario p{
    float: right;
    margin-top: -54px;
}
  .Menu-Group-vol .Menu #logo {
    margin: 5px 0;
    width: 78px;
    height: 86%
  }
  .Menu-Group-vol .Menu #User  {
    margin: 12px 10px;
    float: right;
    width: 43%;
    height: 50%;
  }

  .Menu-Group-vol .Menu #Usuario ul {
      list-style: none;
      float: right;
      margin: -7px;
      position: relative;
      
 
  }

  .Menu-Group-vol .Menu #Usuario ul li {
    width: 9em;
    float: left;
     

}

.Menu-Group-vol .Menu #Usuario ul li a {
    padding: 6px;
    position: relative;

 }

.Menu-Group-vol .Menu #Usuario ul ul li a {
    padding: 6px;
    display: block;
    text-decoration: none;
    text-align: center;
    background:  #8FC1C2;
    color: #222;
    
}

.Menu-Group-vol .Menu #Usuario ul ul {
   position: absolute;
   visibility: hidden;
   left: 7px;
   
}

.Menu-Group-vol .Menu #Usuario ul ul li {
 border-bottom: solid 1px #D8816D ;
  
  
 }
.Menu-Group-vol .Menu #Usuario ul li:hover ul{
    visibility: visible;
 } 

 
 


/*=======================================Pagina-Voluntario==========================*/
.Agendamentos{
 position: absolute;
 text-align: center;
 top: 41%;
 left:97%;
  margin-left: -68%;
 margin-top: -100px;
  
}
 
 
.Agendar h3,.Cancelar h3{
    margin: 10px;
    color: #000;
    text-decoration: none;
     

}
 /*=======================================Pagina-Voluntario-Agenda==========================*/

 .titleAgenda {
     position: absolute;
     text-align: center;
     top:13%;
     height: 8%;
     width: 100%;
     background-color: #8FC1C2;
    
}
.titleAgenda h1{
    margin: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  
}
  .calendar {
    position: absolute;
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 0em 5%;
    margin-top: 42%;
    padding: 0.5em 0;
}

    .calendar__info {
      display: -webkit-box;
      display: -ms-flexbox;
      background-color: #D8816D;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 1em;
      font-size: 1.2em;
      text-transform: uppercase 
    }

    .calendar__prev, .calendar__next {
      color: rgb(255, 255, 255);
      cursor: pointer;
      font-size: 1.3em
     }
    .calendar__prev {
      margin-right: auto
     }
    .calendar__next {
      margin-left: auto
     }
    .calendar__week, .calendar__dates {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 10px
     }
    .calendar__month, .calendar__year {
      padding: .5em 1em
     }
    .calendar__item {
      text-align: center;
      line-height: 2
    }
    .calendar__today {
      background: lightcoral;
      color: white;
      width: 70%;
      border-radius: 70%;
      margin: auto
     }
    .calendar__last-days {
      opacity: .3
     }
     .calendar section{
         margin-top: 20px;
        
     }
     .calendar .D{
         width: 30px;
         height: 23PX;
         float: unset;
         margin-left: 20px;
         transition: all 0.4s ease-out ;
         list-style: none;
     }

     .calendar #Disp{
         background-color: green;
          
         
     }
     .calendar #Indis{
         background-color: red;
     }
     .calendar .D p{
         margin-left: 35px;
         margin-top: 10px;
     }

 
/*=======================================Menu==========================*/
        .Menu-Group{
            height: 100%;
            position: fixed;
            top:91%;
            width: 98%;
            text-align: center;
            background-image:none
            
          }
          .Menu-Group nav{
              height: 3.8rem;
              position: fixed;
              bottom: 0
               
          }
          .Menu-Group nav img{
              display: none
          }
          .Menu-Group nav:after {
              content: '';
              width: 100%;
              background: inherit;
              position: fixed;
              bottom: 60px;
              left: 0;
              
          }
          .Menu-Group nav .Home{
              margin: 0px -6%;
              padding:10px;
              width: 55px;
              display: block;
              position: absolute;
              z-index: 9;
              left: 10%
          }
      
          .Menu-Group nav .Login{
              margin: 10px 21%;
              width: 55px;
              height: 50px;
              display: block;
              position: absolute;
              z-index: 9;
              left: 10%
          }
      
          .Menu-Group nav .Blog{
              margin: 10px 46%;
              width: 55px;
              height: 50px;
              display: block;
              position: absolute;
              z-index: 9;
              left: 10%
          }
          .Menu-Group nav .Contato{
              margin: 10px 69%;
              width: 55px ;
              height: 50px;
              display: block;
              position: absolute;
              z-index: 9;
              left: 10%
          }
          .Menu-Group nav ul{
          position: fixed;
          width:100%;
          height: 100%;     
          background: #fff;
          display: flex;  
          box-shadow: 10px 10px 10px rgba(0,0,0,.3)     
           
      }
      
      .Menu-Group nav ul li{
          display:  block 
      }
      
      .Menu-Group nav ul li:last-child{
          border-right: none
      
      }
       .Menu-Group nav ul li .nome{
          display: none
      }
      
      .Menu-Group nav ul li img{
          display: block
      }
       .Menu-Group nav ul li a{ 
          width: 100%;
          height: inherit;
          display: flex;
           align-items: center;
          color: #fff;
          padding: 0 10px;
          font-size: 3.3rem;
          border-bottom: 1px solid #fff
      }
      /*================================================section==================*/
      div#container {
          margin-top: 0;
          padding:  20px
      } 
      div#container .containerTexto {
          border: 1px solid #ccc
      }
      div#container .containerTexto h1{
      font-size: 25px;
      text-align: center;
      margin: 26px 
      }
 
 
          
      /*==========================Pagina de Login===============================*/
      .Logar{
          top: 57%;
          height: 403px;
      }
}

@media screen and (min-width: 768px)and (max-width:1024){
 
    #CadastroOp {
        text-align: center;
        margin-top: 24%
    }
    #CadastroOp .Gota{
        height: 9em;
        margin-top: -12%
        }
    #CadastroOp .EscolhaCad{
        padding: 4.7rem 4px
    }
    #CadastroOp .EscolhaCad ul{
        height: 71px
    }
    #CadastroOp .EscolhaCad ul li a {
      margin: -21px
    }

    #CadastroOp .EscolhaCad2{
        padding: 4.7rem 4px
    }
    #CadastroOp .EscolhaCad2 ul{
        height: 71px
    }
    #CadastroOp .EscolhaCad2 ul li a {
      margin: -21px
    }
    .Menu-Group-vol .Menu #User {
        width: 10%
    }
    .Menu-Group-vol .Menu #Usuario {
        margin-top: -19%
    }
    .Menu-Group-vol .Menu #logo {
        margin: 5px 0;
        width: 20%;
        height: 102px
}


.slidershow{
    height: 104%
}
.Agendamentos {
   
    left: 107%
}

 
}
@media screen and (max-width: 320px){
    .Logar{
        top: 56%;
        width: 83%;
        height: 353px;
        padding: 25px 28px
    }

    .Logar a {
        font-size: 11px;
        margin: 4px;
        line-height: 14px;
    }
    .usuario {
            left: center
    }
#CadastroOp {
    margin-top: 8%
}
.title {
   margin: 3em 35%;
 
}
#logo1 {
    position: relative;
    left: 6%;
    width: 90%;
    top: 15%;
    height: 38%;
 
}

.slide h1 {
    position: absolute;
    margin-top: 31%;
    padding: 0px 29%;
    color: #f1f1f1;
    text-align: center;

}

.titleAgenda {
    top:15%;
   
}

}
@media screen and (min-width:1025px) and (max-width:1366px){
    .Menu-Group {
        width: 100%;
        height: none
    }

    .Menu-Group nav #logo {
        margin: 13px 43px
    }
    
    .Menu-Group nav {
        line-height: 90px
    }
    .Logar{
        width: 320px;
        height: 420px;
        margin-top: -5em
    }
    .usuario{
        left: center
    }
    #CadastroOp {
        margin-top: 4em;
        margin: 11rem
    }
    #CadastroOp .Gota {
        height: 10em
    }

    .hero .input-group {
        top: 230px;
        position: absolute;
        width: 310px
    }
    .hero .form-box h2 {
        margin-left: 23%;
        margin-top: 30px
    }
 
    .Menu-Group nav .Contato {
        margin: -50px 75%;   
        width: 55px 
    }
 

}

@media screen and (min-width:1367px ){
 

    .Menu-Group nav #logo {
        margin: 13px 43px
    }
    
    .Menu-Group nav {
        line-height: 90px
    }
    .Logar{
        width: 320px;
        height: 420px
    }
    .usuario{
        left: center
    }
    #CadastroOp {
        margin-top: 4em
    }
    #CadastroOp .Gota {
        height: 10em
    }
    .Logar {
        max-width: 900px;
        height: 420px
    }

    .Menu-Group nav .Home{
        width: 0px
    }
    .Menu-Group nav .Login{
        width: 0px
    }
    .Menu-Group nav .Blog{
        width: 0px
    }
    .Menu-Group nav .Contato{
        width: 0px
    }
}